<h1 align="center">Pairing Matrix</h1>
<%=render :partial => 'home/index'%>

<table border="1" width="400" align="center">
 <tr>
     <td><%=@count[0][0]%></td>
     <td><%=@count[0][1]%></td>
     <td><%=@count[0][2]%></td>
     <td><%=@count[0][3]%></td>
     <td><%=@count[0][4]%></td>
 </tr>
 <tr>
    <td><%=@count[1][0]%></td>
    <td><%=@count[1][1]%></td>
    <td><%=@count[1][2]%></td>
    <td><%=@count[1][3]%></td>
    <td><%=@count[1][4]%></td>
 </tr>
 <tr>
    <td><%=@count[2][0]%></td>
    <td><%=@count[2][1]%></td>
    <td><%=@count[2][2]%></td>
    <td><%=@count[2][3]%></td>
    <td><%=@count[2][4]%></td>
 </tr>
 <tr>
    <td><%=@count[3][0]%></td>
    <td><%=@count[3][1]%></td>
    <td><%=@count[3][2]%></td>
    <td><%=@count[3][3]%></td>
    <td><%=@count[3][4]%></td>
 </tr>
 <tr>
     <td><%=@count[4][0]%></td>
     <td><%=@count[4][1]%></td>
     <td><%=@count[4][2]%></td>
     <td><%=@count[4][3]%></td>
     <td><%=@count[4][4]%></td>
  </tr>

</table>