<%= form_for(@pairing_martrix) do |f| %>
  <% if @pairing_martrix.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pairing_martrix.errors.count, "error") %> prohibited this pairing_martrix from being saved:</h2>

      <ul>
      <% @pairing_martrix.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :matrix_id %><br />
    <%= f.number_field :matrix_id %>
  </div>
  <div class="field">
    <%= f.label :project_name %><br />
    <%= f.text_field :project_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
