<p id="notice"><%= notice %></p>

<p>
  <b>Matrix:</b>
  <%= @pairing_martrix.matrix_id %>
</p>

<p>
  <b>Project name:</b>
  <%= @pairing_martrix.project_name %>
</p>


<%= link_to 'Edit', edit_pairing_martrix_path(@pairing_martrix) %> |
<%= link_to 'Back', pairing_martrixes_path %>
