<h1 align="center">Edit Record</h1>

<%=render :partial => 'home/index'%>


<%= form_tag('/edit/record', :multipart => true) %>
    </br></br>

    <% @emp=EmployeeDetail.all %>
    <label>Name1
        <%=select_tag "pair1", options_from_collection_for_select(@emp, "id","name")%>
    </label>

    </br> </br></br>

    <label>Name2
        <%=select_tag "pair2", options_from_collection_for_select(@emp, "id","name")%>
    </label>

    </br></br>
    <p><label>Enter new count :</label>

    <%= text_field_tag 'count' %>

    <%= submit_tag "Save" %>

<%= form_tag %>                                                

