<%= form_for(@pairing_member) do |f| %>
  <% if @pairing_member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pairing_member.errors.count, "error") %> prohibited this pairing_member from being saved:</h2>

      <ul>
      <% @pairing_member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :matrix_id %><br />
    <%= f.number_field :matrix_id %>
  </div>
  <div class="field">
    <%= f.label :pairing_members %><br />
    <%= f.text_field :pairing_members %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
