<h1>Listing pairing_members</h1>

<table>
  <tr>
    <th>Matrix</th>
    <th>Pairing members</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pairing_members.each do |pairing_member| %>
  <tr>
    <td><%= pairing_member.matrix_id %></td>
    <td><%= pairing_member.pairing_members %></td>
    <td><%= link_to 'Show', pairing_member %></td>
    <td><%= link_to 'Edit', edit_pairing_member_path(pairing_member) %></td>
    <td><%= link_to 'Destroy', pairing_member, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pairing member', new_pairing_member_path %>
