<p id="notice"><%= notice %></p>

<p>
  <b>Matrix:</b>
  <%= @pairing_member.matrix_id %>
</p>

<p>
  <b>Pairing members:</b>
  <%= @pairing_member.pairing_members %>
</p>


<%= link_to 'Edit', edit_pairing_member_path(@pairing_member) %> |
<%= link_to 'Back', pairing_members_path %>
